body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #f9f9f9;
}

.container {
   display: grid;
   grid-template-columns: 250px 1fr;
   grid-template-rows: 60px auto;
   grid-template-areas:
       "header header"
       "sidebar content";
   height: 100vh;
}

header {
   grid-area: header;
   background-color: #1a202c;
   color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
}

.logo {
   font-size: 24px;
   font-weight: bold;
}

.sidebar {
   grid-area: sidebar;
   background-color: #f3f3f3;
   padding: 10px;
}

.nav-item {
   list-style-type: none;
   padding: 8px 15px;
   font-size: 18px;
   cursor: pointer;
   margin-bottom: 10px;
   border-radius: 8px;
}

.nav-item.selected {
   background-color: #fdeacb;
   color: #000;
   font-weight: bold;
}

.nav-item:hover {
   background-color: #e0e0e0;
}

.content {
   grid-area: content;
   padding: 20px;
   background-color: #fff;
}

.carousel {
   position: relative;
   width: 100%;
   overflow: hidden;
   border-radius: 20px; /* 모서리를 둥글게 */
 }
 
 .slides {
   display: flex;
   transition: transform 0.5s ease;
   width: 300%; /* 슬라이드 개수에 따라 설정 */
 }
 
 .slide {
   flex: 1 0 100%;
   width: 100%;
   padding: 60px;
   text-align: left;
   background-color: #fdf2ec;
   box-sizing: border-box;
   /* slide의 모서리 자체를 둥글게 하고 싶다면 아래 코드 추가 */
   border-radius: inherit; /* 부모의 border-radius와 동일하게 적용 */
 }
 
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #ddd;
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background-color: #333;
}

.projects {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}

.hot-projects,
.new-projects {
   width: 48%;
}

.project-slider {
   display: flex;
   gap: 10px;
}

.project-box {
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 8px;
   padding: 15px;
   margin: 10px 0;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s;
}

.project-box:hover {
   transform: scale(1.05);
}

.project-box img {
   width: 100%;
   height: auto;
   border-bottom: 1px solid #ddd;
}

.board-lounge {
   display: flex;
   gap: 20px; /* 게시판과 라운지 사이의 간격 설정 */
   margin-top: 20px; /* 위 섹션과의 간격 */
}

.bulletin-board,
.lounge {
   width: 50%; /* 게시판과 라운지 각각 너비를 50%로 설정 */
   background-color: #ffffff; /* 배경색을 하얀색으로 설정 */
   color: #333; /* 텍스트 색상을 검은색에 가까운 어두운 색상으로 설정하여 대비 높이기 */
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.bulletin-content {
   margin-top: 10px;
}

.bulletin-item {
   background-color: #f3f3f3; /* 게시글 배경을 연한 회색으로 설정 */
   color: #333; /* 텍스트 색상을 어두운 색상으로 설정 */
   padding: 15px;
   margin-bottom: 10px;
   border-radius: 8px;
}

.lounge-content {
   margin-top: 10px;
}
